# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
instance/
backend/instance/
*.db

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
logs/
*.log
firebase-admin.json
backend/uploads/
frontend/dist/
frontend/node_modules/
backend/venv/
.env
instance/
backend/instance/
*.db
